@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(38rem, 50%));
  grid-template-rows: repeat(2, minmax(27rem, 50%));
  grid-gap: 5px;
  background: #333;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  position: absolute;
  background: #fafafa;
  left: 16vw;
  top: 3vw;
  width: 66vw;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  &__header {
    align-self: flex-start;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color:  #404040;
    margin-left: 3rem;
    margin-top: 2rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem;
    overflow-y: auto;
    height: 60vh;
  }
  &__text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__add {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  &__input-header {
    margin: 0 auto;
  }
  &__input {
    width: 96%;
    border-radius: 3px;
    padding: 10px;
    resize: vertical;
  }
  &__input-header {
    font-family: Roboto;
    font-size: 16px;
    color:  #404040;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }
  &__button-wrapper {
    display: flex;
  }
  &__button {
    border-radius: 4px;
    border: 1px solid;
    box-sizing: border-box;
    width: 146px;
    height: 35px;
    margin: 1rem;
  }
  &__button-text {
    color:  #fff;
    font-family: Roboto;
  }
  &__button--delete {
    border: none;
    background: none;
    width: auto;
  }
  &__button--red {
    border-color:  #bd4219;
    background: linear-gradient(0deg, #d94b1c 0%, #f25520 100%);
    box-shadow: 0px 1px 0px 0px #bd4219;
  }
  &__button--green {
    border-color:  #1faa00;
    background: linear-gradient(0deg, #59c714 0%, #64dd17 100%);
    box-shadow: 0px 1px 0px 0px #178000;
  }
}
// ====SCROLL====
.modal__wrapper {
  &::-webkit-scrollbar-track {
	  background-color: #ededed;
  }
  &::-webkit-scrollbar {
    width: 6px;
	  background-color: #ededed;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
	  background-color: #3189d6;
  }
}
