#root {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(38rem, 50%));
  grid-template-rows: repeat(2, minmax(27rem, 50%));
  grid-gap: 5px;
  background: #333;
}

.retro__box {
  display: grid;
  grid-template-columns: 31rem;
  grid-template-rows: 4rem 21rem;
  background: #fff;
  outline: 1px solid #000;
}

.retro__title {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.retro__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.user_card {
  height: 154px;
  width: 147px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  background: #FAFAFA;
  box-shadow: 0 2px 0 #e6e6e6;
}
.user_content {
  height: 75%;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid #E6E6E6;
  color: #404040;
  overflow: hidden;
}

.user_info {
  height: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user_photo {
  padding: 7px;
}
.flag {
  padding: 13px 10px 13px 52px;
}
